# Ignore large raw data
data/
*.csv
*.xlsx

# Keep trained models
!models/*.pth
!models/*.json

# Ignore personal testing scripts
src/test_predict.py

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Jupyter checkpoints
.ipynb_checkpoints/
